<h1>Day la trang de them cau hoi</h1>

<form action="/ask" method="POST">
    <h3>Yes or No question</h3>
    <textarea name="question" id="" cols="100" rows="10"></textarea> <br>
    <input type="checkbox" name="answer" id="yes" value="yes">Yes
    <input type="checkbox" name="answer" id="no" value="no">No <br>
    <button type="submit" >Gui</button>
</form>