<h1>Va cau hoi hom nay chung ta se la</h1>

<h1>{{question}}</h1>
<h2>so nguoi tra loi yes la {{yes}}</h2>
<h2>so nguoi tra loi no la {{no}}</h2>

<form action="/" method="POST">
    <input type="checkbox" name="answer" id="yes" value="yes">Yes
    <input type="checkbox" name="answer" id="no" value="no">No <br>
    <button type="submit" >Gui</button>
</form>