<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/libs/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/style.css">

    <script>src = "/libs/jquery-3.3.1.min.js"</script>
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/libs/main.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hieu Vu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:5000/ask">Ask <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/">Answer</a>
            </li>
            
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    
    <footer>by Hieu Vu</footer>
</body>
</html>