


<h1 style="padding-top: 60px ; text-align: center" >{{question}}</h1>

<h2 style="padding-top: 60px ; text-align: center" >{{answer}}</h2>

<div class="mainpage-footer row" >
    <button type="button" class="btn btn-success" style="text-decoration: none"><a href="http://localhost:5000/"></a>Cau hoi khac</button>
</div>
