<h1>Day la trang de them cau hoi</h1>

<form action="/ask" method="POST">
    <textarea class="form-control" name="question" id="questionInput" maxlength="200" rows="6"></textarea> <br> 
    <span>Con <span id = "character" > 200</span> /200 ky tu</span> <br>
    <button class="btn btn-primary" type="submit" >Gui</button>
</form>