
<h1 class="mainpage-question">{{question}}</h1>



<form action="/" method="POST" style="padding-top: 60px ; text-align: center">
    <div class="row" >
        <div class="col-md-6" >
            <button class="btn btn-primary" type="submit" name="answer" id="yes" value="yes" >Yes</button>
        </div>
        <div class="col-md-6" >
            <button class="btn btn-danger" type="submit" name="answer" id="no" value="no" >No</button>
        </div>
    </div>  
</form>   

<div class="row mainpage-footer" >
    <button type="button" class="btn btn-light"><a href="http://localhost:5000/">Cau hoi khac</a></button>
</div>
