

{{!-- trang them cau hoi --}}
<h1>Them cau hoi</h1>

<form action="/ask" method="POST">
    <textarea class="form-control" name="question" id="questionInput" maxlength="200" rows="6"></textarea> <br>
    <button class="btn btn-primary" type="submit" >Gui</button>
</form>