
<h1 class="mainpage-question">{{question}}</h1>

<div class="row mainpageBtn">
    <div class="col-md-6">
        <a class="btn btn-primary" href="http://127.0.0.1:5000/answers/{{id}}/yes">Yes</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-danger" href="http://127.0.0.1:5000/answers/{{id}}/no">No</a>
    </div>
</div>


<div class="row mainpage-footer">
    <a class="btn btn-outline-secondary" href="http://127.0.0.1:5000/answerPage/{{id}}">ket qua vote</a>
    <a class="btn btn-outline-secondary" href="http://127.0.0.1:5000/">cau hoi khac</a>
</div>

