body {
  font-weight: bold;
  text-align: center;
  font-size: 1.1em ;
}



.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}

.main {
    width: 75%;
    float: left;
    background-color: #ffd700;
}

.aside {
    width: 25%;
    padding-bottom: 58px;
    display: inline-block;
    height: auto;
    background-color: #808080;
}

.footer {
    background-color: #00ffff;
    display: inline-block;
}
